<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>539 Crawler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles/main.css">
</head>
<body bgcolor="#cccccc">
	<hr size="5" align="center" noshade width="90%" color="white">
	<h1>
	<font color="white">539 Crawler</font>
	</h1>
	<hr size="5" align="center" noshade width="90%" color="white">
	<form action="/crawler" method="POST">
		<button type="crawler">開始</button><br><br>
	</form>
	{% if filename %}
	<span>{{ filename }}</span><br>
	<form action="/download" method="POST">
		<input type="hidden" name="url" value={{url}}>
		<input type="hidden" name="pixel" value="720p">
		<button type="download">下載</button><br><br>
	</form>
	{% endif %}
</body>
</html>
